{% extends 'index.html' %}

{% block mydata %}
    <div class="selectedDetails">
        <div class="card">
            <div class="cardImg">
                <!-- <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100"> -->
            </div>
            <div class="cardDetails">
                <div class="title">
                    ajhgsfghjk
                </div>
                <div class="uploadedBy">
                    santan kumar sharma
                </div>
                <div class="dateTime">
                    22 july 2020 : 08:37 AM
                </div>
            </div>
        </div>
    </div>
{% endblock %}