{% extends "./index.html" %}
{% load static %}
{% block feedsBody %}
<div class="rightBody">
    <div class="rightTopBody">
        <div class="leftText">
            <div>hello santan</div>
            <div class="welcomeDesc">What are you writing today?</div>
        </div>
        <div class="rightText">
            <div class="postSomething">Write Here</div>
        </div>
    </div>
    <div id="userFeedsTemplet" class="rightMainBody">
        <div class="userFeeds">
            <div class="divTitle">
                Feeds
            </div>
            <div class="feedsData">
                <div class="card active">
                    <div class="cardImg">
                        <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                    </div>
                    <div class="cardDetails">
                        <div class="title">
                            title of the card
                        </div>
                        <div class="uploadedBy">
                            santan kumar sharma
                        </div>
                        <div class="dateTime">
                            {{time}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImg">
                        <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                    </div>
                    <div class="cardDetails">
                        <div class="title">
                            title of the card
                        </div>
                        <div class="uploadedBy">
                            santan kumar sharma
                        </div>
                        <div class="dateTime">
                            {{time}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImg">
                        <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                    </div>
                    <div class="cardDetails">
                        <div class="title">
                            title of the card
                        </div>
                        <div class="uploadedBy">
                            santan kumar sharma
                        </div>
                        <div class="dateTime">
                            {{time}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImg">
                        <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                    </div>
                    <div class="cardDetails">
                        <div class="title">
                            title of the card
                        </div>
                        <div class="uploadedBy">
                            santan kumar sharma
                        </div>
                        <div class="dateTime">
                            {{time}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImg">
                        <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                    </div>
                    <div class="cardDetails">
                        <div class="title">
                            title of the card
                        </div>
                        <div class="uploadedBy">
                            santan kumar sharma
                        </div>
                        <div class="dateTime">
                            {{time}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImg">
                        <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                    </div>
                    <div class="cardDetails">
                        <div class="title">
                            title of the card
                        </div>
                        <div class="uploadedBy">
                            santan kumar sharma
                        </div>
                        <div class="dateTime">
                            {{time}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImg">
                        <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                    </div>
                    <div class="cardDetails">
                        <div class="title">
                            title of the card
                        </div>
                        <div class="uploadedBy">
                            santan kumar sharma
                        </div>
                        <div class="dateTime">
                            {{time}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feedDetails">
            <div class="divTitle">
                Details
            </div>
            <div class="selectedDetails">
                <div class="card">
                    <div class="cardImg">
                        <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                    </div>
                    <div class="cardDetails">
                        <div class="title">
                            title of the card
                        </div>
                        <div class="uploadedBy">
                            santan kumar sharma
                        </div>
                        <div class="dateTime">
                            22 july 2020 : 08:37 AM
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="postSomethingTemplet" class=" hide">
        <form action = "uploadContentData" method = "POST">
        {% csrf_token %} 
            <div class="divTitle" style="width: 89%; margin-right:10px;">
                Upload Your Content
            </div>
            <div class="postYourContent">
                <div class="group">
                    <input type="text"><span class="highlight"></span><span class="bar"></span>
                    <label>Title</label>
                </div>
                <div class="group">
                    <textarea type="email"></textarea><span class="highlight"></span><span class="bar"></span>
                    <label>Write Your Content.....</label>
                </div>
                <div style="margin-top: 10px;">
                    <div id="uploadContent" type="submit" class="btn-2"><span>Submit</span><i class="fa fa-check" aria-hidden="true"></i></div>
                </div>
            </div>
        </form> 
    </div>
</div>
{% endblock %}