{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>WordWar 0.1</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class="mainBody">
        <div class="mainTemplet">
            {% if user.is_authenticated %}
            <div class="leftBody">
                <div class="profile">
                    <div class="profilePic">
                        <img src="{% static 'assets/santan.jpeg' %}" alt="Paris" width="100" height="100">
                    </div>
                    <div class="userName">
                        {{user.first_name}} &nbsp; {{user.last_name}}
                    </div>
                </div>
                <div class="profileNavBar">
                    <div class="navigationTab " data-id="profile">Profile</div>
                    <div class="navigationTab active" data-id="Home">Home</div>
                    <div class="navigationTab" data-id="Notifications">Notifications</div>
                    <div class="navigationTab" data-id="MyBlogs">My Blogs</div>
                    <!-- <div class="navigationTab" data-id="Security">Register</div> -->
                    <!-- <div class="navigationTab" data-id="Security">Login</div> -->
                    <div class="navigationTab" data-id="logout">Logout</div>
                </div>
            </div>
            {% else %}
            <div class="leftBody">
                <div class="profile">
                    <div>
                        <img src="{% static 'assets/wordwar.png' %}" alt="Paris" width="100" height="100">
                    </div>
                    <div class="userName" style="padding-top: 10px;">
                        WORD - WAR
                    </div>
                </div>
                <div class="profileNavBar">
                    <!-- <div class="navigationTab " data-id="profile">Profile</div> -->
                    <div class="navigationTab active" data-id="Home">Home</div>
                    <div class="navigationTab" data-id="Blogs">Blogs</div>
                    <div class="navigationTab" data-id="about">About</div>
                    <div class="navigationTab" data-id="search">Search</div>
                    <div class="navigationTab" data-id="login">Login</div>
                </div>
            </div>
            {% endif %}
            
            <div class="rightBody">
                {% if user.is_authenticated %}
                <div class="rightTopBody">
                    <div class="leftText">
                        <div>hello &nbsp; {{user.first_name}}</div>
                        <div class="welcomeDesc">What are you writing today?</div>
                    </div>
                    <div class="rightText">
                        <div class="postSomething">Write Here</div>
                    </div>
                </div>
                {% endif %}
                <div id="userFeedsTemplet" class="rightMainBody">
                    <div class="userFeeds">
                        <div class="divTitle">
                            Feeds
                        </div>
                        <div class="feedsData">
                            {% for feedsData in contents%}
                            <div class="card" data-id={{feedsData.s_no}}>
                                <div class="cardImg">
                                    <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                                </div>
                                <div class="cardDetails">
                                    <div class="title">
                                        {{feedsData.Title}}
                                    </div>
                                    <div class="uploadedBy">
                                        John Elia
                                    </div>
                                    <div class="dateTime">
                                        5:29pm
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="feedDetails">
                        <div class="divTitle">
                            Details
                        </div>
                        
                        <!-- {% block mydata %} 
                        
                        {% endblock%} -->
                        
                        <div class="selectedDetails">
                            {% for active_data in details %}
                            <div class="card" style="height: 90%;display:block;">
                                <div style="display: flex;justify-content: flex-start;align-items: center;">
                                    <div>
                                        <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="60" height="60">
                                    </div>
                                    <div class="userDetailsData">
                                        <div>John Elia</div>
                                        <div style="color: #ccc;">6:44 PM</div>
                                    </div>
                                </div>
                                <br>
                                <div class="title" style="border-bottom: 1px solid #ccc;">
                                    {{active_data.Title}}
                                </div>
                                <br>
                                <div>
                                    {{active_data.content}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
                <div id="postSomethingTemplet" class=" hide">
                    <form action="/uploadContent" method="post">
                        {%csrf_token%}
                        <div class="divTitle" style="width: 89%; margin-right:10px;">
                            Upload Your Content
                        </div>
                        <div class="postYourContent">
                            <div class="group">
                                <input type="text" name='title'><span class="highlight"></span><span class="bar"></span>
                                <label>Title</label>
                            </div>
                            <div class="group">
                                <textarea type="text" name='content'></textarea><span class="highlight"></span><span class="bar"></span>
                                <label>Write Your Content.....</label>
                            </div>
                            <div style="margin-top: 10px;">
                                <input value="Submit" type="submit" class="btn-2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- git update 2 -->

    <!-- <script src="./config.js"></script> -->
   <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>
