{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>WordWar 0.1</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class="mainBody">
        <div class="mainTemplet">
            {% block content %}
                
            {% endblock %}
            
            <div class="rightBody">
                <div class="rightTopBody">
                    <div class="leftText">
                        <div>hello santan</div>
                        <div class="welcomeDesc">What are you writing today?</div>
                    </div>
                    <div class="rightText">
                        <div class="postSomething">Write Here</div>
                    </div>
                </div>
                <div id="userFeedsTemplet" class="rightMainBody">
                    <div class="userFeeds">
                        <div class="divTitle">
                            Feeds
                        </div>
                        <div class="feedsData">
                            <div class="card active">
                                <div class="cardImg">
                                    <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                                </div>
                                <div class="cardDetails">
                                    <div class="title">
                                        title of the card
                                    </div>
                                    <div class="uploadedBy">
                                        santan kumar sharma
                                    </div>
                                    <div class="dateTime">
                                        {{time}}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="cardImg">
                                    <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                                </div>
                                <div class="cardDetails">
                                    <div class="title">
                                        title of the card
                                    </div>
                                    <div class="uploadedBy">
                                        santan kumar sharma
                                    </div>
                                    <div class="dateTime">
                                        {{time}}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="cardImg">
                                    <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                                </div>
                                <div class="cardDetails">
                                    <div class="title">
                                        title of the card
                                    </div>
                                    <div class="uploadedBy">
                                        santan kumar sharma
                                    </div>
                                    <div class="dateTime">
                                        {{time}}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="cardImg">
                                    <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                                </div>
                                <div class="cardDetails">
                                    <div class="title">
                                        title of the card
                                    </div>
                                    <div class="uploadedBy">
                                        santan kumar sharma
                                    </div>
                                    <div class="dateTime">
                                        {{time}}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="cardImg">
                                    <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                                </div>
                                <div class="cardDetails">
                                    <div class="title">
                                        title of the card
                                    </div>
                                    <div class="uploadedBy">
                                        santan kumar sharma
                                    </div>
                                    <div class="dateTime">
                                        {{time}}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="cardImg">
                                    <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                                </div>
                                <div class="cardDetails">
                                    <div class="title">
                                        title of the card
                                    </div>
                                    <div class="uploadedBy">
                                        santan kumar sharma
                                    </div>
                                    <div class="dateTime">
                                        {{time}}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="cardImg">
                                    <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                                </div>
                                <div class="cardDetails">
                                    <div class="title">
                                        title of the card
                                    </div>
                                    <div class="uploadedBy">
                                        santan kumar sharma
                                    </div>
                                    <div class="dateTime">
                                        {{time}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feedDetails">
                        <div class="divTitle">
                            Details
                        </div>
                        <div class="selectedDetails">
                            <div class="card">
                                <div class="cardImg">
                                    <img src="{% static 'assets/dummy.png' %}" alt="Paris" width="100" height="100">
                                </div>
                                <div class="cardDetails">
                                    <div class="title">
                                        title of the card
                                    </div>
                                    <div class="uploadedBy">
                                        santan kumar sharma
                                    </div>
                                    <div class="dateTime">
                                        22 july 2020 : 08:37 AM
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="postSomethingTemplet" class=" hide">
                    <form action="uploadContent" method="post">
                        {%csrf_token%}
                        <div class="divTitle" style="width: 89%; margin-right:10px;">
                            Upload Your Content
                        </div>
                        <div class="postYourContent">
                            <div class="group">
                                <input type="text" name='title'><span class="highlight"></span><span class="bar"></span>
                                <label>Title</label>
                            </div>
                            <div class="group">
                                <textarea type="text" name='content'></textarea><span class="highlight"></span><span class="bar"></span>
                                <label>Write Your Content.....</label>
                            </div>
                            <div style="margin-top: 10px;">
                                <input value="Submit" type="submit" class="btn-2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- git update 2 -->

    <!-- <script src="./config.js"></script> -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>
